@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;1,400&display=swap");

:root {
  --chakra-font: "Chakra Petch", sans-serif;
  --dark-color: #0a0a0a;
  --red-color: #e62222;
  --light-color: #fff;
  --grey-color: #888888;
  --yellow-color: #f2c10e;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: 1s ease-in-out;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.7rem;
  min-height: 100vh;
  line-height: 1.6;
  font-family: var(--chakra-font);
  background: rgb(73,80,87);
  background: linear-gradient(90deg, rgba(73,80,87,1) 0%, rgba(34,34,34,1) 50%, rgba(73,80,87,1) 100%);
}