@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;1,400&display=swap");

:root {
  --chakra-font: "Chakra Petch", sans-serif;
  --dark-color: #0a0a0a;
  --red-color: #e62222;
  --light-color: #fff;
  --grey-color: #888888;
  --yellow-color: #f2c10e;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* transition: 1s ease-in-out; */
}

html {
  font-size: 10px;
}

body {
  font-size: 1.7rem;
  min-height: 100vh;
  background: var(--red-color);
  background: rgb(6, 6, 6);
  background: radial-gradient(
    circle,
    rgba(6, 6, 6, 1) 20%,
    rgba(50, 8, 8, 1) 43%,
    rgba(79, 25, 25, 1) 62%,
    rgba(78, 24, 24, 1) 78%,
    rgba(68, 54, 54, 1) 100%
  );
  line-height: 1.6;
  font-family: var(--chakra-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.app {
  background-color: var(--dark-color);
  margin: 2rem;
  padding: 5rem;
  border-radius: 6px;
  color: #fff;
  -webkit-box-shadow: 0px 5px 11px 5px rgb(255, 255, 255);
  box-shadow: 0px 5px 11px 5px rgb(255, 255, 255);
}
