.containerData {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    margin: 0% 2%;
    border-radius: 10px;
    padding: 2%;
}

.cardData {
    border: 2px solid white;
    border-radius: 10px;
    margin: 2% 0%;
    box-shadow: 0px 0px 10px var(--yellow-color);
    display: flex;
    flex-direction: column;
    background-color: #3b3939;
}

.headData {
    width: 100%;
    background: var(--yellow-color);
    height: fit-content;
    border-radius: 7px 7px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nameHeroe {
    color: black;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-shadow: 0px 0px 10px #ffffff;
    font-size: 1.5em;
}

.fullnameHeroe{
    color: #232323;
    font-size: 1em;
}

.imgData {
    margin: 2% 0%;
}

.imgPortrait {
    width: 30%;
    border: 2px solid var(--yellow-color);
    border-radius: 10px;
}

p.powerTitle {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.powerDesc {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0% 5%;
}

.powerItem {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #f5f5f5;
    background: #e5e5e5;
    box-shadow: 0px 0px 10px #232323;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.powerItem:hover{
    background: #e5e5e5;
    box-shadow: inset 0px 0px 10px #232323;
    transition: .5s ease-in-out;
    border: 1px solid #232323;
    color: white;
}

.powerItem p{
    color: #232323;
    margin-bottom: 0;
}

.powerItem span{
    color: var(--yellow-color);
    font-weight: bold;
}


/* MOBILE */
@media (max-width: 768px) {
    .containerData{
        grid-template-columns: repeat(1, 1fr);
        gap: .2%;
    }
}