.containerTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 2.5vh 0%;
}

.containerTitle h1 {
  color: white;
  font-weight: bold;
  font-size: 6vh;
}

.containerTitle h1 span {
  color: var(--yellow-color);
}

.inputField{
    width: 50rem;
    height: 40px;
    border-radius: 40px;
    border: 2px solid white;
    background: transparent;
    color: white;
    padding: 0% 5%;
    text-transform: capitalize;
}

.inputField::placeholder{
    color: rgb(192, 191, 191);
    letter-spacing: .2vh;
}

/* MOBILE */
@media (max-width: 768px) {
  .containerTitle h1 {
    color: white;
    font-weight: bold;
    font-size: 3vh;
  }
  .containerTitle{
    flex-direction: column;
  }
  .inputField{
    width: 38rem;
  }
  .inputField::placeholder{
    color: rgb(192, 191, 191);
    letter-spacing: 0vh;
}
}
