.nav-link{
    color: white;
}

.academy{
    color: var(--yellow-color);
}

.logo {
  width: 15%;
}

button.btn.btn-dark.navbar-toggler.border-3.px-2.text-white {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .logo {
    width: 50% !important;
  }
  .navbar-brand button{
    display: none !important;
  }
}

/* TABLET */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .logo {
    width: 30%;
  }
}
