.nav-link{
    color: white;
}

.academy{
    color: #ffc300;
}

.logo {
  width: 15%;
}


/* MOBILE */
@media (max-width: 768px) {
  .logo {
    width: 50% !important;
  }
  .navbar-brand button{
    display: none;
  }
}

/* TABLET */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .logo {
    width: 30%;
  }
}
